@inherits LocalizedPage

<FlareAccordion>
    <FlareAccordionPanel>
        <HeaderContent>
            <FlareIconView Name="help" />
            <span>@GalleryStrings.AccordionDemo_Q1</span>
        </HeaderContent>
        <ChildContent>@GalleryStrings.AccordionDemo_A1</ChildContent>
    </FlareAccordionPanel>
    <FlareAccordionPanel Header="@GalleryStrings.AccordionDemo_Q2">
        @GalleryStrings.AccordionDemo_A2
    </FlareAccordionPanel>
    <FlareAccordionPanel Header="@GalleryStrings.AccordionDemo_Q3" Disabled="true">
        @GalleryStrings.AccordionDemo_A3
    </FlareAccordionPanel>
</FlareAccordion>
